.entrada-dados{
    display: inline-block;
    position: absolute;
    width: 38%;

    .row {
        margin-bottom: 10px;
    }

    &__controle-acoes {
        margin-bottom: 10px;
    }
}
fieldset {
    padding: 0px 15px;
    border: 1px black solid;
    border-radius: 5px;

    legend {
        width: auto;
        padding: 0px 10px;
    }
}